<section>
  <app-episode class="level" *ngFor="let episode of episodes" [result]="episode"></app-episode>
  <!-- <section class="container">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-8">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                  <p class="title">Podcast Title</p>
                  <p class="subtitle">Last Episode Title</p>
                </article>
                <article class="tile is-child notification is-warning">
                  <p class="title">...tiles</p>
                  <p class="subtitle">Bottom tile</p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                  <p class="title">Podcast tile</p>
                  <p class="subtitle">Podcast image</p>
    
                  <figure class="image">
                    <img src="http://placekitten.com/200/300" alt="Podcast image" />
                  </figure>
                </article>
              </div>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-danger">
                <p class="title">Wide tile</p>
                <p class="subtitle">Aligned with the right tile</p>
                <div class="content">
                  Content
                </div>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-success">
              <div class="content">
                Vertical...
                <p class="title">Tall tile</p>
                <p class="subtitle">With even more content</p>
                <div class="content">
                  <img src="http://www.placepuppy.net/400/250" alt />
                  <img src="http://www.placepuppy.net/400/250" alt />
                </div>
              </div>
            </article>
          </div>
        </div>
      </section> -->
</section>