section
  width: 100%
  display: grid
  grid-gap: 10px
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr
  grid-auto-flow: row dense
  font-family: "Brandon Grotesque Light"
  background-color: white

// app-episode
//   margin: 2rem