<section class="container">
  <div class="tile is-ancestor">
    <div class="tile">
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <article class="tile is-child notification  has-text-weight-bold has-text-black-bis">
            <img class="column image is-128x128 media-left" src="{{ result.thumbnail }}" />
            <span class="icon is-small is-danger" (click)="makeFavs(result)">
              <fa-icon icon="heart"></fa-icon>
            </span>
            <p class="is-size-5">
              <a class="podcast_title" [routerLink]="['/podcast/:podcast_title_original']"
                routerLinkActive="router-link-active">
                {{ result.podcast_title_original }} </a>
            </p>
            <p class="subtitle has-text-weight-bold">{{ result.title_original }} </p>
            <div class="" id="player">
              <audio controls="controls" src="{{ result.audio }}"></audio>
            </div>

          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="tile is-ancestor">
    <div class="tile">
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <article class="tile is-child notification  has-text-weight-bold has-text-black-bis">
            <img class="column image is-128x128 media-left" src="{{ podcast.thumbnail }}" />
            <span class="icon is-small is-danger" (click)="makeFavs(result)">
              <fa-icon icon="heart"></fa-icon>
            </span>
            <p class="is-size-5">
              <a class="podcast_title" [routerLink]="['/podcast/:podcast_title_original']"
                routerLinkActive="router-link-active">
                {{ podcast.podcast_title_original }} </a>
            </p>
            <p class="subtitle has-text-weight-bold">{{ podcast.title_original }} </p>
            <div class="" id="player">
              <audio controls="controls" src="{{ podcast.audio }}"></audio>
            </div>

          </article>
        </div>
      </div>
    </div>
  </div>
</section>