
main 
    display: flex
    justify-content: center
    align-items: center
h1 
    cursor: pointer
    width: 5rem
    margin: 0 auto
#user_buttons
    position: absolute
    right: 0
    top: 0
    height: 4.9rem

app-sign-in, app-sign-up
    display: block
    width: 75vw
    height: 75vh