<section>
  <header [routerLink]="['']" routerLinkActive="router-link-active">
    <nav class="navbar has-text-centered" role="navigation" aria-label="main navigation">
      <p class="navbar-brand"> {{ title }} </p>
      <div class="navbar-end" id="user_buttons">
        <button class="button is-primary" (click)="toggle()" type="submit" routerLink="/sign-up"
          routerLinkActive="router-link-active">Sign Up</button>
        <button class="button is-primary" (click)="toggle()" type="submit" routerLink="/sign-in"
          routerLinkActive="router-link-active">Sign In</button>
      </div>
    </nav>
  </header>

  <app-search class="level-item" id="search"></app-search>
  <main class="column">
    <app-podcast class="column level is-ancestor"></app-podcast>
  </main>
  <!-- <app-player></app-player> -->
  <app-footer></app-footer>
  <router-outlet></router-outlet>
</section>