<section class="has-background-light">
  <header>
    <h1 class="is-size-1" routerLink=""> {{ title }} </h1>
    <div class="" id="user_buttons">
      <button class="button is-primary" type="submit" [routerLink]="['sign-up']"
        routerLinkActive="router-link-active">Sign Up</button>
      <button class="button is-primary" type="submit" [routerLink]="['sign-in']"
        routerLinkActive="router-link-active">Sign In</button>
    </div>
  </header>

  <app-search class="level-item" id="search"></app-search>
  <main class="level is-flex">
    <app-podcast class="column level is-ancestor"></app-podcast>
  </main>
  <!-- <app-player></app-player> -->
  <!--  -->
  <router-outlet></router-outlet>
</section>