section 
  display: flex
  flex-flow: row wrap
  width: 60rem
  height: 15rem
  border: 7px solid black
  justify-content: space-between
  align-content: space-between
  font-family: 'Brandon Grotesque Light'

li 
  list-style: none
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-content: space-around

img
  width: 50px
  height: 50px

h4
  width: 30rem
  font-size: 1.4rem
  text-align: center
  margin: 0.3rem

p 
  font-size: 1.4rem
  font-family: 'Brandon Grotesque Light'
  margin: 0.2rem
  font-weight: 600


button 
  width: 5.5rem
  height: 2.5rem
  background-color:  #C53C21
  color: black
  border: 5px solid black
  justify-self: right
  cursor: pointer
  font-family: Brandon Grotesque Light, Helvetica, sans-serif
  font-weight: 600
  font-size: 1.2rem

.episode_title
  text-decoration: underline
  font-style: italic
  