<section class="has-background-light">
  <div class="">
    <div class="columns">
      <img class="column image is-64x64 media-left" src="{{ result.thumbnail }}" />
      <div class="column is-half">
        <h4> {{ result.title_original }} </h4>
        <p class="duration"> {{ result.audio_length }} </p>
      </div>
    </div>

    <div class="">
      <a class="podcast_title" [routerLink]="['/podcast/:podcast_title_original']"
        routerLinkActive="router-link-active">
        {{ result.podcast_title_original }} </a>

    </div>
    <div class="" id="player">
      <audio controls="controls" src="{{ result.audio }}"></audio>
    </div>
    <span class="icon is-small" (click)="makeFavs(result)">

      <fa-icon icon="heart"></fa-icon>

    </span>
    <!-- <span class="tag is-info" (click)="makeFavs(result)">Like Me</span> -->
  </div>
</section>